<<<<<<< HEAD
﻿@inherits LayoutComponentBase

<div class="page">
 

    <main>

            @Body
       
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
=======
﻿@inherits LayoutComponentBase

<div class="page">
 

    <main>

            @Body
       
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
>>>>>>> 0789b6f (changes)
